node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments 
# use this address to test on sepolia testnet 0xb69B367c0720B053d2692B74D9aa2C2577E3307A
ignition/deployments/chain-*
